.ladi-container{
  font-family: Quicksand, sans-serif;
  padding: 0 15px;
  @media (min-width: 768px) {
    max-width: 990px;
    margin: auto;
  }
}
.ladi-container2{
  font-family: Quicksand, sans-serif;
  padding: 0 15px;
  @media (min-width: 768px) {
    max-width: 1200px;
    margin: auto;
  }
}

.row-2{
  margin: 0 -2px;
}
.pdd-2{
  padding: 0 2px;
}
.ladi-banner{
  background-image: url("../img/ladi/bg1.png");
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-position: center top;
  background-repeat: repeat;
}
.top-left{
  font-family: "Tinos", serif;
  background: url("../img/ladi/bg2.png") no-repeat top left;
  background-size: 67% 60%;
  padding-top: 80px;
  margin-bottom: 40px;
  @media (max-width: 480px){
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .block-friday{
    max-width: 404px;
    margin: auto;
    position: relative;
    @media (max-width: 480px){
      max-width: 300px;
    }
    .txt-title{
      color: rgb(0, 0, 0);
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 4px;
      line-height: 1.6;
      transform: translateY(21px);
    }
    .bg-friday{
      width: 100%;
    }
    .txt-img{
      position: absolute;
      
      text-transform: uppercase;
      bottom: 39px;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width: 480px){
        bottom: 10%;
      }
      .txt_black{
        color: rgb(0, 0, 0);
        font-size: 21px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0px;
        line-height: 1.6;
        @media (max-width: 480px){
          font-size: 15px;
        }
      }
      .txt_red{
        color: rgb(178, 31, 36);
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
        @media (max-width: 480px){
          font-size: 19px;
        }
      }
    }
    .btn-cta{
      position: absolute;
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      right: 0;
      bottom: 0;
      font-weight: bold;
      padding: 18px 14px;
      @media (max-width: 480px){
        font-size: 11px;
        padding: 13px 9px;
      }
    }

  }
  .txt-date{
    color: rgb(77, 77, 77);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
  }
}
.ladi-container{
  .detail-pc{
    padding-top: 35px;
  }
  .slider-nav .item {
    outline: 0 !important;
    .box{
      padding: 2px 0;
      cursor: pointer;
    }
  }
}
.box-icon{
  text-align: center;

  color: rgb(62, 62, 62);
  font-size: 19px;
  margin-bottom: 30px;
  position: relative;
  .icon-rec{
    position: absolute;
    top: 0;
    right: -15px;
    width: 75px;
    transform: translate(50%,-50%);
    @media (max-width: 767px){
      display: none;
    }
  }
  .icon{
    position: relative;
    width: 90px;
    height: 90px;
    margin: auto;
    display: block;
    img{
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &:before{
      content: '';
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: rgba(255, 175, 200, 0.3);
      position: absolute;
      top: 12px;
      right: -9px;
    }
  }
  p{
    margin-top: 10px;
  }
}
.ladi-policy{
  padding: 40px 0;
}
.ladi-h2{
  font-family: "Tinos", serif;
  color: rgb(140, 25, 41);
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 7px;
  padding-bottom: 7px;
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 2px;
    background: #dedede;
  }
  @media (max-width: 767px){
    font-size: 20px;
  }
}
.ladi-h3{
  font-family: "Tinos", serif;
  color: rgb(77, 77, 77);
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px;
  @media (max-width: 767px){
    margin-bottom: 40px;
    font-size: 17px;
  }
}
.ladi-product{
  padding: 30px 0;
  background: #fafafa;

}
.ladi-countdown{
  margin-bottom: 50px;
  .flip-clock-wrapper{
    display: inline-block;
    width: auto;
    ul li a div div.inn{
      background: rgb(140, 25, 41);
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    ul li a div.down{
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}
.ladi-headline{
  font-family: "Tinos", serif;
  color: rgb(0, 0, 0);
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 5px;
  position: relative;
  @media (max-width: 767px){
    font-size: 20px;
  }
  &:before{
    content: '';
    display: block;
    width: 170px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 767px){
      display: none;
    }
  }
}
.ladi-des{
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: center;
  line-height: 1.4;
  max-width: 735px;
  margin: 0 auto 30px;
}
.ladi-prod{
  text-align: center;
  position: relative;
  max-width: 300px;
  margin: 0 auto 30px;
  .box-sale{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: rgba(178, 32, 36, 1.0);
    color: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 3px;
    line-height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .box-img{
    display: block;
    width: 200px;
    margin: 0 auto 15px;
    position: relative;
    &:before{
      content: '';
      display: block;
      padding-bottom: 140%;
    }
    img{
      transition: all  0.15s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover{
      transform: scale(1.1);
    }
  }
  .box-name{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 7px;
    height: 75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    color: rgb(112, 24, 19);
    a{
      color: rgb(112, 24, 19);
    }
  }
  .box-price{
    text-align: center;
    margin-bottom: 7px;
    span{
      color: rgb(27, 27, 27);
      font-size: 18px;
      font-weight: bold;
      margin: 0 5px;
    }
    del{
      margin: 0 5px;
      text-decoration-line: line-through;
      -webkit-text-decoration-line: line-through;
      color: rgb(85, 85, 85);
      font-size: 18px;
      font-weight: bold;
    }
  }
  .btn-prod{
    color: rgb(27, 27, 27);
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 15px;
    border: 1px solid #000;
    display: inline-block;
    font-weight: bold;
    transition: all  0.15s;
    &:hover{
      color: #fff;
      background: #000;
    }
  }
}

.news-top{
  display: flex;
  align-items: center;
  transform: translateY(40px);
  .img-border{
    width: 40%;
    border: 10px solid rgb(112, 25, 20);
    padding: 20px;
    position: relative;
    img{
      width: 100%;
      transition: all 0.15s;
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
    .fa{
      position: absolute;
      bottom: -10px;
      right: -10px;
      width: 40px;
      height: 40px;
      background: #616161;
      color: rgba(117,117,117,1);
      font-size: 35px;
      line-height: 45px;
      text-align: center;
    }
  }
  .news-txt-top{
    padding: 0 0px 50px 20px;
    width: 60%;
    position: relative;
    .icon-top{
      position: absolute;
      left: 60px;
      top: -60%;
      width: 75px;
    }
    h2{
      font-weight: bold;
      color: rgb(66, 66, 66);
      font-family: "Tinos", serif;
      color: rgb(66, 66, 66);
      font-size: 36px;
      @media (max-width: 480px){
        font-size: 25px;
      }
    }
    h3{
      color: rgb(0, 0, 0);
      font-size: 18px;
      text-align: left;
      line-height: 1.2;
      padding-bottom: 7px;
      border-bottom: 4px solid rgb(239, 235, 233);
      margin-bottom: 7px;
      @media (max-width: 480px){
        font-size: 15px;
      }
    }
    p{
      color: rgb(0, 0, 0);
      font-size: 14px;
      text-align: justify;
      line-height: 1.4;
      margin-bottom: 15px;
    }
    a{
      font-family: "Montserrat", sans-serif;
      color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      background: #000;
      padding: 10px 25px;
      text-transform: uppercase;
      box-shadow: 0px 15px 15px -18px rgba(27, 27, 27, 1.0);
    }
  }
}
.ladi-news{
  max-width: 100%;
  overflow: hidden;
  padding: 30px 0;
}
.news-bot{
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: italic;
  text-align: justify;
  line-height: 1.4;
  .news-bot-txt{
    width: 35%;
    padding-right: 20px;
    background: #fff;
    transform: translateX(-1px);
  }
  .news-bot-img{
    width: 65%;
    box-shadow: 8px 8px 15px 0px rgba(62,39,35,0.2);
    img{
      width: 100%;
    }
  }
}
.news-right{
  position: relative;
  display: flex;
  align-items: center;
  &:before{
    content: '';
    max-width: 350px;
    margin: auto;
    height: 112%;
    border: 10px solid rgb(112, 25, 20);
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .news-right-img{
    width: 50%;
    img{
      width: 140%;
      float: right;
      display: block;
    }
  }
  .news-right-txt{
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: justify;
    line-height: 1.2;
    position: relative;
    .img-title{
      width: 200px;
      margin: 0 auto 50px;
      background: #fff;
      img{
        width: 100%;
      }
      @media (max-width: 480px){
        margin: 20px auto 30px;
      }
    }
    p{
      background: #fff;
      box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.11);
      padding: 10px;
    }
  }
}
.icon-bot{
  width: 75px;
  margin: 10px auto;
  display: block;
}
.prod-hot-left{
  margin-bottom: 30px;
  .prod-hot-img{
    display: block;
    position: relative;
    &:before{
      content: '';
      display: block;
      padding-bottom: 140%;
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h3{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 60px;
    position: relative;
    &:before{
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      left: 0;
      top: 0;
      position: absolute;
      background: rgb(112, 25, 20);
    }
  }

}
.hot-price{
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  .fa{
    color: #000;
  }
  .price-hot-new{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    text-align: right;
  }
  .price-hot-old{
    text-align: right;
    font-size: 14px;
    del{
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 14px;
      margin-left: 3px;
    }
  }
}
.btn-hot{
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  background: #000;
  padding: 10px 25px;
  text-transform: uppercase;
  box-shadow: 0px 15px 15px -18px #1b1b1b;
  margin: 15px 0;
}
.title-hot-right{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  span{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
  }
  a{
    color: rgb(0, 0, 0);
    font-size: 14px;
    display: block;
    position: relative;
    padding-bottom: 7px;
    &:before{
      content: '';
      display: block;
      width: 100px;
      height: 1px;
      background: #000;
      bottom: 0;
      right: 0;
      position: absolute;
    }
  }
}
.prod-hot-right{
  margin-bottom: 10px;
  .img-hot-right{
    display: block;
    position: relative;
    &:before{
      content: '';
      display: block;
      padding-bottom: 140%;
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.ladi-hot{
  background: #fafafa;
  padding: 30px 0;
}
.ladi-slogan{
  font-family: "Quicksand", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 1.6;
  padding: 30px 0;

}
.slogan-head{
  max-width: 600px;
  margin: 0 auto 30px;
  .ship-txt{
    text-align: right;
    padding-right: 20%;
    margin-bottom: 15px;
    font-size: 20px;
    color: #000;
  }
  .box-border{
    padding: 0px 30px 15px;
    border-style: solid;
    border-color: rgb(183, 183, 183);
    border-width: 1px;
    position: relative;
    span{
      display: inline-block;
      width: 200px;
      padding: 0 20px;
      background: #fff;
      font-size: 20px;
      transform: translateY(-17px);
    }
  }
}
.slogan-body{
  max-width: 900px;
  margin: auto;
}
.box-slogan{
  text-align: center;
  padding: 10px;
  box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  img{
    display: block;
    width: 79px;
    margin: 0 auto 10px;
  }
  p{
    height: 100px;
  }
}
.ladi-comment{
  padding: 30px 0;
  background: #fafafa;
  .head-comt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgb(211, 211, 211);
    h5{
      font-family: "Roboto", sans-serif;
      color: rgb(60, 60, 60);
      font-size: 16px;
      font-weight: bold;
    }
    span{
      font-family: "Roboto", sans-serif;
      color: rgb(60, 60, 60);
      font-size: 16px;
      display: block;
      margin-left: auto;
      padding-right: 15px;
    }
    select{
      font-family: "Roboto", sans-serif;
      color: rgb(95, 95, 95);
      font-size: 16px;
      padding: 5px 10px;
      font-weight: bold;
      background-color: rgb(238, 238, 238);
      border-style: solid;
      border-color: rgb(191, 191, 191);
      border-width: 1px;
      border-radius: 4px;
    }
  }
}
.pd-7{
  padding: 0 10px;
}
.row-7{
  margin: 0 -10px;
}
.cmt-user-ladi{
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  .cmt-rate{
    color: rgb(170, 31, 31);
    font-size: 16px;
    .fa{
      color: rgba(255, 188, 1, 1.0);;
    }
  }
  .cmt-name{
    color: rgb(136, 14, 79);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .cmt-p{
    margin-bottom: 10px;
    font-size: 16px;
  }
  .cmt-action{
    margin: 15px 0;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    a{
      color: rgb(67, 102, 176);
    }
  }
  .cmt-rep-ladi{
    .cmt-name{
      color: rgb(232, 59, 48);
    }
    .rep-date{
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      span{
        color: rgb(67, 102, 176);
      }
    }
  }
  &:last-child{
    border-bottom: 0;
  }
}
.ladi-form{
  max-width: 360px;
  margin: auto;
  background-color: rgb(32, 26, 58);
  border-radius: 5px;
  padding: 20px;
  h4{
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
  }
  .form-price{
    border: 1px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 15px;
    del{
      font-size: 16px;
      padding: 5px 10px;
      display: inline-block;
    }
    span{
      color: rgb(32, 26, 58);
      font-size: 21px;
      font-weight: bold;
      padding: 10px;
      display: inline-block;
      background: #fff;
      padding: 5px 10px;
    }
  }
  input{
    margin-bottom: 15px;
  }
  .btn-submit{
    background: #f85084;
    color: #fff;
    border-color: #6c757d;
  }
}