.ladi-banner2{
  background: url("../img/ladi2/bg1.png");
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 30px 0;
}
.ladi-txt-slider{
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px;
  span{
    background-color: rgb(255, 188, 1);
    border-radius: 38px;
    padding: 2px 5px;
    margin-right: 10px;
  }
  b{
    color: rgb(255, 1, 1);
    font-size: 22px;
    font-weight: bold;
  }
}
.progress-ladi{
  height: 10px;
  background-color: rgb(224, 224, 224);
  .progress-bar{
    background-color: rgb(170, 31, 31);
  }
}
.ladi-prod-name{
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  padding-top: 50px;
  margin-bottom: 10px;
}
.ladi-rate{
  color: rgb(170, 31, 31);
  font-size: 16px;
  margin-bottom: 10px;
  .fa{
    color: rgba(255, 188, 1, 1.0);
  }
}
.ladi-price-sale{
  background: #000;
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px;
  margin-bottom: 10px;
  .old{
    color: #ccc;
    font-size: 20px;
    margin-right: 10px;
    del{
      font-size: 20px;
      font-weight: bold;
    }
  }
  .new{
    color: rgb(255, 216, 98);
    font-size: 34px;
    font-weight: bold;
    margin-right: 10px;
  }
  .ladi-btn-sale{
    background: linear-gradient(180deg, #ff512f, #dd2476);
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
  }
}
.bg-gra{
  background: url("../img/ladi2/bggr.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  padding: 5px 30px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 25px;
}
.ladi-ship{
  color: rgb(85, 85, 85);
  font-size: 14px;
  font-weight: bold;
  padding: 15px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  ul{
    li{
      clear: both;
      overflow: hidden;
      margin-bottom: 10px;
      img{
        float: left;
        width: 42px;
        margin-right: 10px;
      }
      p{
        overflow: hidden;
      }
      b{
        color: rgb(19, 19, 19);
      }
    }
  }
}
.ladi-select-color{
  li{
    display: inline-block;
    width: 70px;
    margin-right: 30px;
    cursor: pointer;
    height: 25px;
    margin-bottom: 15px;
  }
}
.ladi-select-size{
  margin-bottom: 20px;
  li:not(:last-child){
    background-color: rgba(224, 224, 224, 0);
    border-style: solid;
    border-color: rgb(177, 177, 177);
    border-width: 1.4px;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-transform: uppercase;
    display: inline-block;

  }
  li:last-child{
    display: inline-block;

    font-size: 15px;
    text-decoration: underline;
    img{
      margin-right: 7px;
    }
    a{
      color: rgb(16, 125, 145);
    }
  }
}
.btn-cta2{
  box-shadow: 0px 15px 20px -20px #000;
  -webkit-box-shadow: 0px 15px 20px -20px #000;
  display: block;
  max-width: 310px;
  text-align: center;
  color: #fff !important;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  background: #b92b2b;
  margin-bottom: 20px;
}
.ladi-view-prod{
  font-family: "Montserrat", sans-serif;
  color: rgb(33, 30, 46);
  font-size: 14px;
  font-weight: bold;
  .fa{
    font-size: 22PX;
  }
  span{
    font-size: 22px;
    color: red;
  }
}
.ladi-info{
  padding: 40px 0;
  .bg-black-ladi{
    background-color: rgb(33, 30, 46);
    height: 370px;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: -40px;
      right: 40px;
      width: 10px;
      height: 200px;
      background: rgb(255, 188, 1);
    }
    @media (max-width: 991px){
      display: none;
    }
  }
}
.ladi-name-h1{
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  @media (max-width: 991px){
    font-size: 30px;
  }
}
.ladi-name-h2{
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  @media (max-width: 991px){
    font-size: 30px;
  }
}

.ladi-bredcumd{
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-bottom: 30px;
  li{
    display: inline-block;
    margin-right: 7px;
  }
}
.ladi-info-txt{
  margin-bottom: 30px;
}
.ladi-shape{
  width: 80px;
  margin: 0 30px;
  @media (max-width: 991px){
    margin: 0 15px 30px;
    width: 30px;
  }
}
.ladi-img-info{
  box-shadow: 15px 15px 0 0 #000;
  img{
    width: 100%;
  }
}
.ladi-intro{
  padding: 30px 0;
  background: #f4f4f4;
}
.bg-ao{
  background: url("../img/ladi2/bg3.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center center;
  img{
    width: 60%;display: block;
    margin: auto;
    transition: all 0.15s;
    &:hover{
      transform: scale(1.1);
    }
  }
}
.list-intro-ladi{
  margin-bottom: 30px;
  li{
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
  }
}
.row-img{
  max-width: 900px;
  margin: 30px auto 0;
}
.block-img-intro{
  max-width: 153px;
  margin: 0 auto 30px;
  box-shadow: 0px 15px 20px -20px #000;
  -webkit-box-shadow: 0px 15px 20px -20px #000;
}
.ladi-gallery{
  padding: 30px 0;
  background: #f4f4f4;
}
.img-galelry{

  display: block;
  margin-bottom: 40px;
  img{
    box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.8);
  }
}
.bd-left{
  position: relative;
  padding-left: 25px;
  &:before{
    content: '';
    display: block;
    width: 10px;
    height: 200px;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.col-gallery{
  max-width: 325px;
  margin: auto;
}
.col-center{
  max-width: 200px;
  margin: auto;
}
.ladi-hot2{
  padding: 30px 0;
}
.ladi-prod2{
  .box-img{
    display: block;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 15px 20px -15px #000;
    -webkit-box-shadow: 0px 15px 20px -15px #000;
    &:before{
      content: '';
      display: block;
      padding-bottom: 140%;
    }
    img{
      transition: all  0.15s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
  .prod2-txt{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    a{
      font-family: "Montserrat", sans-serif;
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: bold;
    }
    span{
      color: rgb(152, 152, 152);
      font-size: 16px;
      font-weight: bold;
    }
  }
  .btn-cta2{
    max-width: 100%;
    &:hover{
      background: #000;
    }
  }
}
.ladi-slogan2{
  .box-slogan p{
    height: auto;
  }
  .slogan-body{
    max-width: 600px;
    margin: auto;
  }
}
.ladi-banner2{
  .ladi-form{
    padding: 20px;
    background: rgb(54, 54, 54);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 1px dashed #fff;
    outline-offset: -10px;
    max-width: 400px;
    h4{
      font-family: "UTM AvoBold.ttf";
      color: rgb(255, 215, 101);
      font-size: 24px;
      padding-top: 20px;
      padding-bottom: 15px;
    }
    .form-control{
      margin-bottom: 15px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    .btn-submit{
      max-width: 300px;
      margin: 15px auto;
      display: block;
      width: 100%;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background: #e83b30;
      border: 0;
    }
  }
}
.img-form{
  img{
    display: block;
    max-width: 100%;
    margin: auto;
  }
}