@charset "utf-8";
@import "font-face";
@import "config";
@import "owl.carousel";
@import "mixin";
@import "menu";
@import "tool";
/*=========================================== btn search **=======================================*/
.search_drop {
  position: relative;
  padding-left: 10px !important;
}

.search_drop .form_search {
  position: absolute;
  z-index: 999;
  width: 290px;
  top: 100%;
  right: 0;
  background: #fff;
  border-top: 2px solid #ff0000;
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 15px 10px;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden
}

.search_drop .form_search input.form-control {
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}

.search_drop .form_search button.btn-default {
  height: 32px;
  border-radius: 0;
  background: #000;
  color: #fff;
  border: 0;
  font-size: 14px;
  text-transform: uppercase
}

.search_drop .form_search:before {
  position: absolute;
  top: -8px;
  right: 19px;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 6px 5.5px;
  border-color: transparent transparent #ff0000 transparent
}

.search_drop .form_search.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(10px);
  transform: translateY(10px)
}


.menu_mb .search_drop {
  position: absolute;
  top: 0px;
  bottom: auto;
  height: 62px;
  left: 0;
  z-index: 999;
  margin: auto;
  border: 0;
  padding-left: 0 !important;
  cursor: pointer;
}
.menu_mb .search_drop .btn_search{
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  display: block;
  margin: 9px 0;
  font-size: 18px;
}
.menu_mb .search_drop .form_search:before{
  right: 13px;
}

.menu_mb .search_drop .form_search {
  position: fixed;
  right: 0px;
  width: 100%;
  top: 0;
  visibility: hidden;
  -webkit-transform: translateY(0px);
  transform: translateY(0px)
}
.menu_mb .search_drop .form_search.open {
  visibility: visible;
  z-index: 11;
}

.mini_banner{
  @media (max-width: 991px){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: block;
  }
  img{
    display: block;
  }
}
.topBar{
  background: #f2f2f2;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 991px){
    display: none;
  }
  .topLeft{
    float: left;
    margin: 5px 0;
    a{
      display: inline-block;
      margin-right: 10px;
      .fa{
        margin-right: 5px;
      }
    }
  }
  .topRight{
    float: right;
    display: flex;
    align-items: center;
    > a{

      .fa{
        margin-right: 5px;
      }
    }

  }
}
header{
  .dropdown{

    .btn{
      color: $color-txt !important;
      background: transparent !important;
      border: 0;
      box-shadow: none !important;
      &:before{
        color: $color-txt;
      }
    }
    .fa{
      margin-right: 5px;
    }
    .dropdown-menu{
      left: auto !important;
      right: 0;
      a{
        img{
          width: 20px;
          margin-right: 7px;
        }
        b{
          color: #eb2771;
        }
      }
    }
  }
}
.header_main{
  padding: 20px 0;
}
.logo_pc{
  img{
    max-width: 180px;
  }
  @media (max-width: 991px){
    display: none;
  }
}
.form-search{
  position: relative;
  max-width: 450px;
  margin: auto;
  input{
    padding-right: 35px;
  }
  .btn{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    i{
      margin-right: 0;
    }
  }
}
.tag-txt1{
  position: absolute;
  top: -100%;
  transform: translateX(-7px);
  right: -10px;
  background: $color-main;
  font-size: 12px;
  color: #fff;
  padding: 2px 5px;
  &:before{
    content: "";
    position: inherit;
    bottom: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: $color-main transparent transparent transparent;
  }
  @media (max-width: 991px){
    top: 3px;
    right: auto;
    left: 100%;
    &:before{
      border-width: 4px 4px 4px 0;
      border-color: transparent $color-main transparent transparent;
      left: -4px;
      bottom: 3px;
    }
  }
}

.tag-txt2{
  position: absolute;
  top: -100%;
  transform: translateX(-7px);
  right: -10px;
  background: #e95b6e;
  font-size: 12px;
  color: #fff;
  padding: 2px 5px;
  &:before{
    content: "";
    position: inherit;
    bottom: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #e95b6e transparent transparent transparent;
  }
  @media (max-width: 991px){
    top: 3px;
    right: auto;
    left: 100%;
    &:before{
      border-width: 4px 4px 4px 0;
      border-color: transparent #e95b6e transparent transparent;
      left: -4px;
      bottom: 3px;
    }
  }
}
.header_nav{
  padding: 10px 0;
  @media (max-width: 991px){
    padding: 0;
  }
}
.haeder_acc{
  >a{
    .fa{
      margin-right: 5px;
    }

  }
  @media(max-width: 991px){
    justify-content: center;
  }

}
.menu_mb{
  .addCart{
    position: absolute;
    top: 16px;
    left: 45px;
  }
  .dropdown{
    position: absolute;
    top: 10px;
    right: 30px;
    .btn:after{
      display: none;
    }
    .dropdown-menu{
      left: auto !important;
      right: 9px;
      transform: translate(0) !important;
      top: 100% !important;
    }
  }
}
.addCart{
  position: relative;
  display: block;
  span{
    position: absolute;
    top: -11px;
    right: -12px;
    color: #fff;
    background-color: #eb2771;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}
.wrap-policy{
  background: #ececec;
  padding: 10px 0px;
  margin-bottom: 15px;

}
.box-policy{
  text-align: center;
  .policy-txt{
    display: inline-block;
    position: relative;
    padding-left: 50px;
    color: #777;
    line-height: 1.1;
    text-align: left;
    svg{
      position: absolute;
      top: 3px;
      left: 0;
    }
    strong{
      text-transform: uppercase;
      display: block;
    }
    @media (max-width: 767px){
      font-size: 12px;
      padding-left: 33px;
      svg{
        width: 24px;
        top: -2px;
      }
    }
  }
}
.title-home{
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
  a{
    color: #eb2771;
    font-size: 16px;
    float: right;
    display: none;
    text-transform: none;
  }
  @media (max-width: 991px){
    font-size: 20px;
    a{
      display: block;
    }
  }
}
.menu_tab{
  position: relative;
  .view_all{
    position: absolute;
    top: 5px;
    right: 0;
    color: #eb2771;
    font-size: 16px;
    &:hover{
      text-decoration: underline;
    }
    @media (max-width: 991px){
      display: none;
    }
  }
}
.nav-product{
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  li{
    font-size: 16px;
    border-bottom: 3px solid transparent;
    a{
      color: $color-txt;
      display: block;
      padding: 5px 10px;
      white-space: nowrap;
    }
    &.active{
      border-color: #eb2771;
      a{
        color: #eb2771;;
      }
    }
  }
}
.block_product{
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  .prod_img{
    position: relative;
    display: block;
    overflow: hidden;
    &:before{
      content: '';
      display: block;
      padding-bottom: 140%;
    }
    img{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
      transition: all 0.2s;
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
  }
  .prod_name{
    font-size: 15px;
    margin: 7px 0;
    a{
      color: #000;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover{
        color: #eb2771;
      }
    }
  }
  .prod_price{
    font-size: 16px;

    span{
      color: #eb2771;
      margin-right: 7px;
      font-weight: 700;
    }
    del{
      font-size: 16px;
      color: #495057;
    }
  }
  .prod_sale{
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate3d(25%,-25%,0);
    transform: translate3d(25%,-25%,0);
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    color: #eb2771;
    background-color: #fff;
    border: 1px dashed #eb2771;
    border-radius: 50%;
    z-index: 2;
  }
  .progress{
    background-color: #f9a4c4;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    .progress-bar{
      background: #eb2771;
    }
  }
}
.section-product{
  margin-bottom: 40px;
  @media (max-width: 991px){
    margin-bottom: 0;
  }
}
.box_ft{
  margin-bottom: 30px;
  .title_box{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .phone_ft{
    font-size: 32px;
    font-weight: bold;
    color: #eb2771;
    @media (max-width: 991px){
      font-size: 20px;
    }
  }
}
.footer_social{
  margin-bottom: 30px;
  h4{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  a{
    display: inline-block;
    margin: 0 4px;
    img{
      width: 50px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
  }
}
.menu_ft{
  margin-bottom: 30px;
  h5{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  ul{
    li{
      font-size: 14px;
      a{
        &:hover{
          color: #eb2771;
        }
      }
    }
  }
}
.form_ft{
  text-align: right;
  margin-bottom: 30px;
  h5{
    font-size: 17px;
    margin-bottom: 5px;
  }
  label{
    font-size: 13px;
  }
  .btn{
    background: #eb2771;
    color: #fff;
  }
  @media (max-width: 991px){
    text-align: left;
  }
}
.img-pay{
  max-width: 300px;
  width: 100%;
}
.ftbar_footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  background: #fff;
  z-index: 5;
  display: none;
  ul{
    display: flex;
    li{
      width: 25%;
      font-size: 12px;
      a{
        color: #6c757d;
        display: block;
        padding: 7px 1px;
        text-align: center;
        .fa{
          font-size: 20px;
        }
        span{
          text-align: center;
          display: block;
        }
      }
    }
  }
  @media (max-width: 991px){
    display: block;
  }
}
.footer-bot{
  @media (max-width: 991px){
    padding-bottom: 60px;
  }
}

//flip clock

.flip-clock-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden
}

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #fff
}

.flip-clock-wrapper a:hover {
  color: #fff
}

.flip-clock-wrapper ul {
  list-style: none
}

.flip-clock-wrapper.clearfix {
  *zoom:1}

.flip-clock-wrapper {
  font-size: 11px;
  -webkit-user-select: none
}

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important
}

.flip-clock-meridium a {
  color: #313333
}

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%
}

.flip-clock-wrapper:before,.flip-clock-wrapper:after {
  content: " ";
  display: table
}

.flip-clock-wrapper:after {
  clear: both
}

.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 0 1px;
  width: 40px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  line-height: 23px;
  border-radius: 3px;
  background: #fff
}

@media (min-width: 768px) and (max-width: 991px) {
  .flip-clock-wrapper ul {
    float:none;
    display: inline-block
  }
}

@media (max-width: 480px) {
  .flip-clock-wrapper ul {
    float:none;
    display: inline-block;
    width: 23px;
    height: 35px;
  }
}

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 45px;
  text-decoration: none !important;
  @media (max-width: 480px){
    line-height: 31px;
  }
}

.flip-clock-wrapper ul li:first-child {
  z-index: 2
}

.flip-clock-wrapper ul li a {
  display: block !important;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important;
  color: #e01010
}

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden;
  outline: 1px solid transparent
}

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2
}

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0
}

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0,0,0,0.4)
}

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px
}

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
  font-size: 40px;
  @media (max-width: 480px){
    font-size: 20px;
  }
}

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0
}

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0
}

.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3
}

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.01s 0.49s linear both;
  -moz-animation: asd 0.01s 0.49s linear both;
  animation: asd 0.01s 0.49s linear both;
  z-index: 5
}

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 23px
}

@media (min-width: 768px) and (max-width: 991px) {
  .flip-clock-divider {
    top:-8px;
    float: none
  }
}

@media (max-width: 480px) {
  .flip-clock-divider {
    float: none
  }
}

.flip-clock-divider:first-child {
  width: 0
}

.flip-clock-divider .flip-clock-label {
  position: relative;
  color: #000;
  text-shadow: none;
  font-size: 12px;
  bottom: -22px;
  bottom: -53px;
  @media (max-width: 480px){
    bottom: -30px;
  }

}

.flip-clock-divider.days .flip-clock-label {
  right: -30px;
  @media (max-width: 480px){
    right: -12px;
  }
}

.flip-clock-divider.hours .flip-clock-label {
  right: -42px;
  @media (max-width: 480px){
    right: -23px;
  }
}

.flip-clock-divider.minutes .flip-clock-label {
  right: -40px;
  @media (max-width: 480px){
    right: -22px;
  }
}

.flip-clock-divider.seconds .flip-clock-label {
  right: -40px;
  @media (max-width: 480px){
    right: -20px;
  }
}

.flip-clock-dot {
  display: block;
  background: #fff;
  width: 3px;
  height: 3px;
  position: absolute;
  border-radius: 50%;
  left: 3px
}

.flip-clock-dot.top {
  top: 32px;
  @media (max-width: 480px){
    top: 15px;
  }

}

.flip-clock-dot.bottom {
  bottom: 3px;
  @media (max-width: 480px){
    bottom: 13px;
  }
}

@-webkit-keyframes asd {
  0% {
    z-index: 2
  }

  100% {
    z-index: 4
  }
}

@-moz-keyframes asd {
  0% {
    z-index: 2
  }

  100% {
    z-index: 4
  }
}

@-o-keyframes asd {
  0% {
    z-index: 2
  }

  100% {
    z-index: 4
  }
}

@keyframes asd {
  0% {
    z-index: 2
  }

  100% {
    z-index: 4
  }
}

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg)
  }

  100% {
    -webkit-transform: rotateX(0deg)
  }
}

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg)
  }

  100% {
    -moz-transform: rotateX(0deg)
  }
}

@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg)
  }

  100% {
    -o-transform: rotateX(0deg)
  }
}

@keyframes turn {
  0% {
    transform: rotateX(90deg)
  }

  100% {
    transform: rotateX(0deg)
  }
}

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both
}

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg)
  }

  100% {
    -webkit-transform: rotateX(-90deg)
  }
}

@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg)
  }

  100% {
    -moz-transform: rotateX(-90deg)
  }
}

@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg)
  }

  100% {
    -o-transform: rotateX(-90deg)
  }
}

@keyframes turn2 {
  0% {
    transform: rotateX(0deg)
  }

  100% {
    transform: rotateX(-90deg)
  }
}

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3
}

.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, #000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, #000));
  background: linear,top,rgba(0,0,0,0.1) 0%,#000 100%;
  background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, #000 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, #000 100%);
  background: linear,to bottom,rgba(0,0,0,0.1) 0%,#000 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both
}

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, #000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, #000));
  background: linear,top,rgba(0,0,0,0.1) 0%,#000 100%;
  background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, #000 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, #000 100%);
  background: linear,to bottom,rgba(0,0,0,0.1) 0%,#000 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both
}

.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, #000 0%, rgba(0,0,0,0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, rgba(0,0,0,0.1)));
  background: linear,top,#000 0%,rgba(0,0,0,0.1) 100%;
  background: -o-linear-gradient(top, #000 0%, rgba(0,0,0,0.1) 100%);
  background: -ms-linear-gradient(top, #000 0%, rgba(0,0,0,0.1) 100%);
  background: linear,to bottom,#000 0%,rgba(0,0,0,0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both
}

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, #000 0%, rgba(0,0,0,0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, rgba(0,0,0,0.1)));
  background: linear,top,#000 0%,rgba(0,0,0,0.1) 100%;
  background: -o-linear-gradient(top, #000 0%, rgba(0,0,0,0.1) 100%);
  background: -ms-linear-gradient(top, #000 0%, rgba(0,0,0,0.1) 100%);
  background: linear,to bottom,#000 0%,rgba(0,0,0,0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both
}

@-webkit-keyframes show {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-moz-keyframes show {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-o-keyframes show {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes show {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-moz-keyframes hide {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-o-keyframes hide {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes hide {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}
.number_count {
  > span{
    white-space: nowrap;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
  }
}
.bg-sale{
  background: #ececec;
  padding: 15px 10px 20px 10px;
  @media(max-width:991px){
    padding-bottom: 30px;
  }

}
.number_count{
  @media(max-width:767px){
    flex-direction: column;
    >span{
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
}
.arrow-slider{
  font-size: 40px;
  color: #eb2771;
}
.slider-sale{
  .block_product .prod_sale{
    transform: translate(0);
    top: 5px;
    right: 5px;
  }
}

.nav-news{
  display: flex;
  align-items: center;
  border-bottom: 2px solid $color-main;
  margin-bottom: 20px;
  overflow-y: hidden;
  overflow-x: auto;
  li{
    font-size: 15px;
    border-right: 1px solid #ddd;
    a{
      display: block;
      text-transform: uppercase;
      padding: 3px 15px;
      font-weight: 500;
      white-space: nowrap;
      &:hover{
        color: #eb2771;;
      }
    }
    &.active{
      border-right: 0;
      a{
        color: #fff;
        background: $color-main;
        font-size: 22px;
        font-weight: 700;
      }
    }
    &:last-child{
      border-right: 0;
    }


  }
}
.section-news{
  margin-bottom: 40px;
}
.slider-news{
  .box_news{
    .news_img{
      display: block;
      position: relative;
      margin-bottom: 10px;
      overflow: hidden;
      &:before{
        content: '';
        display: block;
        padding-bottom: 70%;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.15s;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
    .news_name{
      font-size: 15px;
      text-align: center;
      font-weight: 500;
      height: 41px;
      overflow: hidden;
      a{
        color: $color-txt;
        &:hover{
          color: $color-hover;
        }
      }
    }
  }
}


.product_viewed{
  background: #fff;
  position: fixed;
  top: 200px;
  z-index: 7;
  right: 0;
  border: 1px solid #000;
  transition: all 0.3s;

  .title{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    background: #000;
    position: relative;
    @media (max-width: 767px){
      font-size: 10px;
    }
    span{
      display: none;
    }
    .close-viewed{
      position: absolute;
      right: 10px;
      top: 7px;
      cursor: pointer;
      display: none;
    }
  }
  .viewed_body{
    padding: 0 15px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 235px;
    @media (max-width: 767px){
      padding: 0 14px;
    }
    /* width */
    &::-webkit-scrollbar {
      width: 3px;
      height: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .viewed_content{

      .box_viewed{
        width: 70px;
        @media (max-width: 767px){
          width: 30px;
        }
        .block_product{
          margin: 15px 0;
          border: 1px solid #dee2e6;
          box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
          padding: 3px;
          .prod_sale, .prod_name, .prod_price{
            display: none;
          }
        }
      }

    }
  }
  &.show{
    .title{
      text-align: left;
      span{
        display: inline-block;
        vertical-align: baseline;
      }
      .close-viewed{
        display: block;
      }
    }
    .viewed_body{
      max-height: unset;
      .viewed_content{
        display: flex;
        width: 700px;
        padding-top: 10px;
        overflow-y: hidden;
        overflow-x: auto;
        @media (max-width: 767px){
          width: 250px;
        }
        &::-webkit-scrollbar {
          width: 3px;
          height: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
        .box_viewed{
          width: 200px;
          padding: 0 7px;
          .block_product{
            box-shadow: none;
          }
          .prod_sale, .prod_name, .prod_price{
            display: block;
          }
        }
      }
    }
  }
}

.btn-viewed{
  position: absolute;
  top: 45px;
  right: 100%;
  color: #fff;
  background-color: #000;
  font-size: 26px;
  width: 24px;
  height: 50px;
  padding-left: 6px;
  text-align: left;
  border-radius: 50px 0 0 50px;
  cursor: pointer;
  span{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
  }
  &.active{
    width: 25px;
    span{
      display: none;
    }
    .fa{
      transform: rotateY(180deg);
    }
  }
}
.back-link{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding: 7px 15px;
  background: #f8f9fa;
  li{
    font-size: 14px;
    padding-right: 20px;
    position: relative;
    &:before{
      content: '/';
      position: absolute;
      right: 10px;
      top: 0;
    }
    a{
      display: block;
      font-weight: 500;
    }
    &:last-child{
      &:before{
        display: none;
      }
      a{
        color: #888888;
      }
    }
  }
}
.wrap-detail{
  margin-bottom: 35px;
}
.pdd-5{
  padding: 0 5px;
}
.row-5{
  margin: 0 -5px;
}
.slider-nav-mb{
  position: relative;
  margin-top: 20px;
  .slick-list{
    margin: 0 -10px;
  }
  .item{
    padding: 0 10px;
    .box{
      position: relative;
      &:before{
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
      }
    }
  }
  .slick-arrow{
    text-indent: 200px;
    display: block;
    border: 0;
    width: 32px;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    outline: 0 !important;
    cursor: pointer;
  }
  .slick-prev{
    top: 0;
    left: 5px;
    bottom: 0;
    margin: auto;
    background: #fff url("../img/left.png") no-repeat center center/15px;
  }
  .slick-next{
    bottom: 0;
    top: 0;
    margin: auto;
    right: 5px;
    left: auto;
    background: #fff url("../img/right.png") no-repeat center center/15px;
  }

}
.slider-nav{
  position: relative;
  .item{
    .box{
      position: relative;
      padding: 5px 0;
      img{
        width: 100%;
      }
    }
  }
  .slick-arrow{
    text-indent: 200px;
    display: block;
    border: 0;
    width: 32px;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    outline: 0 !important;
    cursor: pointer;
  }
  .slick-prev{
    top: 5px;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.7) url("../img/left.png") no-repeat center center/15px;
    transform: rotate(90deg);
  }
  .slick-next{
    bottom: 5px;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(90deg);
    background: rgba(255, 255, 255, 0.7) url("../img/right.png") no-repeat center center/15px;
  }

}
.size_prod{
  ul{
    border-bottom: 0;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  li{
    margin-right: 10px;
    margin-bottom: 10px;
    a{
      display: inline-block;
      width: 45px;
      height: 45px;
      border: 1px solid #ced4da;
      text-align: center;
      font-size: 18px;
      line-height: 45px;
      font-weight: 500;
      text-transform: uppercase;
      &:hover{
        border-color: #000;
        color: #000;
      }
      &.active{
        background: #000;
        color: #fff;
      }
    }
  }
  .tab-content{
    font-size: 13px;
  }
}
.rate-link{
  .fa{
    color: $color-hover;
  }
}
.name-prod{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  @media (max-width: 991px){
    margin-top: 15px;
    font-size: 18px;
  }
}
.price-detail{
  strong{
    font-size: 30px;
    color: $color-hover;
  }
  del{
    color: #333;
  }
  span{
    font-size: 16px;
    padding: 2px;
    font-weight: 500;
    background-color: #ef5690;
    color: #fff;
    margin-left: 10px;
    border-radius: 3px;
  }
}
.list-info{
  margin-bottom: 15px;
  .flip-clock-divider .flip-clock-label{
    display: none;
  }
  >ul{
    >li{
      margin-top: 7px;
      #countdown{
        display: inline-block;
        width: auto;
        transform: scale(0.5);
        transform-origin: left;
      }
      a{
        color: #797979;
        margin-left: 5px;
        display: block;
        &:hover{
          text-decoration: underline;
          color: #000;
        }
      }
      .fa{
        color: $color-hover;
        margin-right: 7px;
        width: 16px;
        text-align: center;
      }
      >ul{
        padding-left: 40px;
        @media (max-width: 991px){
          padding-left: 20px;
        }
      }
    }
  }

}
.btn-buy{
  color: #fff;
  background-color: #d8145e;
  border-color: #cc1359;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0;
  .fa{
    margin-right: 7px;
  }
  &:hover{
    background-color: #d80046;
    border-color: #d80046;
  }
  @media (max-width: 991px){
    font-size: 18px;
  }
}
.hotline{
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  a{
    color: $color-hover;
  }
}

.tab-detail{
  margin-bottom: 15px;
  margin-top: 25px;
  li{

    a{
      font-weight: 500;
      padding: 5px 15px 10px;
      display: inline-block;
      border-bottom: 3px solid transparent;
      &:hover{
        color: $color-hover;
      }
      &.active{
        color: $color-hover;
        border-color: $color-hover;
      }
    }
  }
}
.tab-content-detail{
  margin-bottom: 30px;
}
.tag-prod{
  margin-bottom: 35px;
  b{
    font-size: 15px;
    vertical-align: top;
  }
  a{
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    color: #6c757d;
    background-color: #e9ecef;
    border-radius: 3px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
.wrap-comment{
  strong{
    vertical-align: baseline;
  }
  .fa{
    color: $color-hover;
    font-size: 18px;
  }
  .head{
    padding: 10px;
    margin-bottom: 15px;
    background: #f8f9fa;
    h5{
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 10px;
      @media (max-width: 991px){
        font-size: 18px;
      }
    }
    .head-rate{
      font-size: 18px;

    }

  }
}
.list-comment{
  margin-top: 30px;
}
.cmt-user{
  padding: 10px 0;
  border-top: 1px solid #cccccc;
  .cmt-nb{
    font-weight: bold;
    display: block;
    color: #17a2b8;
    .fa{
      color: #17a2b8;
    }
  }
  .cmt-date{
    color: rgba(0,0,0,.5);
  }
  .cmt-rate{
    a{
      color: #17a2b8;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .cmt-rep{
      padding-left: 40px;
      margin-top: 10px;
  }
}
.title-detail{
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  span{
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    margin-right: 0;
    display: inline-block;
    color: #eb2771;
    border-bottom: 3px solid #eb2771;
  }
}
html{
  scroll-behavior: smooth;
}


.newsMain{
  margin-bottom: 30px;
  .newsMain-img{
    margin-bottom: 10px;
    position: relative;
    .tag{
      position: absolute;
      left: 15px;
      bottom: 15px;
      background-color: #39a7c2;
      color: #fff;
      padding: 5px 10px;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
    }
  }
}
.wrap-mews{

  .news-name{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    min-height: 30px;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
  }
  .news-date{
    margin-bottom: 10px;
    span{
      font-size: 15px;
      color: #adb5bd;
    }
    .tag-news{
      background: #3ba1a2;
      display: inline-block;
      padding: 2px 5px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 15px;
      margin-right: 5px;
    }
  }
  .news{
    overflow: hidden;
    clear: both;
    margin-bottom: 30px;
  }
  .news-img{
    float: left;
    margin-right: 20px;
    width: 38%;
  }
  .news-txt{
    overflow: hidden;
    .news-des{
      height: 70px;
      overflow: hidden;
      white-space: normal;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }


}
.prod-cart{
  padding: 15px;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
  }
  @media(max-width: 767px){
    border-right: 0;
  }
}
.cart-note{
  padding: 15px;
  border-right: 1px solid #cccccc;
  @media(max-width: 767px){
    border-right: 0;
  }
}
.cart-wrap{
  border: 1px solid #cccccc;
  max-width: 1200px;
  margin: 30px auto;
  .title-home{
    margin-bottom: 0;
  }
}
.list-price{
  li{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    .text-total{
      display: inline-block;
      width: 50%;
      color: #f85084;
      line-height: 60px;
      font-size: 18px;
      text-align: center;
      font-weight: 700;
    }
    .btn{
      display: inline-block;
      width: 50%;
      background: #f85084;
      color: #fff;
      font-size: 24px;
      line-height: 50px;
      border: 0;
      font-weight: 700;
      text-transform: uppercase;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    @media(max-width: 767px){
      border-bottom: 0;
      border-top: 1px solid #cccccc;

    }
  }
}
b,strong{
  vertical-align: baseline;
}
.widget-cart{
  padding: 15px;
  position: fixed;
  z-index: 15;
  background: #fff;
  top: 0;
  right: 0;
  max-width: 370px;
  width: 100%;
  height: 100vh;
  transition: all 0.3s linear;
  transform: translateX(101%);
  &.show{
    transform: translateX(0);
  }
  .close-cart{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  .prod-cart{
    border-right: 0;
    padding-right: 0;
    padding-left: 0;
    border-bottom: 0;
    .form-control{
      width: 70px;
      margin-top: 10px;
    }
    .btn-del{
      color: $color-hover;
    }
  }
  .btn{
    background: #000;
    border-radius: 0;
  }
}
.serach-box, .search_drop{
  position: relative;
  .box-result{
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    padding: 15px;
    z-index: 2;
    border: 1px solid #ced4da;
    transform: translateY(5px);
    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;

    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .result-item{
      clear: both;
      overflow: hidden;
      margin-bottom: 15px;
      font-size: 15px;
      &:last-child{
        margin-bottom: 0;
      }
      .result-img{
        float: left;
        display: block;
        width: 60px;
        margin-right: 10px;
        img{
          width: 100%;
          &:hover{
            opacity: 0.85;
          }
        }
      }
      .result-txt{
        line-height: 1.1;
        overflow: hidden;
        .result-name:hover{
          color: $color-hover;
        }
        .result-price{
          margin-top: 10px;

          b{
            color: $color-hover;
            margin-right: 10px;
          }
          del{
            font-size: 15px;
          }
        }
      }
    }
  }
}
.close-search {
  position: absolute;
  top: 10px;
  right: 45px;
  z-index: 6;
  cursor: pointer;
  display: none;
  @media (max-width: 992px){
    top: 7px;
    right: 90px;
  }
}
.product-button{
  display: none;
  @media (max-width: 991px){
    padding: 12px  10px;
    display: flex;
    background: #fff;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    a{
      width: 50%;
      border: 1px solid #6c757d;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      font-size: 12px;
      svg{
        vertical-align: baseline;
      }
    }
  }
}
.cart-wrap{
  .title-home{
    a{
      position: absolute;
      left: 10px;
      font-size: 33px;
      top: 50%;
      line-height: 22px;
      transform: translateY(-50%);
    }
  }
}
.pagination{
  justify-content: center;
}
.pagination li a {
  display: inline-block;
  border: 0;
  border-radius: 50%!important;
  padding: 0;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  font-size: 17px;
  text-align: center;
  color: #eb2771;
}
.pagination li.active a {
  z-index: 3;
  color: #fff;
  background-color: #eb2771;
  border-color: #eb2771;
}
.pagination li:first-child  a{
  color: #000;
  line-height: 1.3;
  width: auto;
  color: $color-hover;
}
.pagination li:last-child a {
  width: auto;
  color: #000;
  line-height: 1.3;
  color: $color-hover;
}


.spinner {
  width: 35px;
  text-align: center;
  @media (max-width: 767px) {
    margin-top: 7px;
  }
}
.spinner .spinner-number {

}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 20px;
  vertical-align: middle;
  display: table-cell;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.spinner .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 0px;
  margin-left: 0;
  text-align: center;
  position: relative;
  border-radius: 0;
  cursor: pointer;
  .fa{
    margin-right: 0;
  }
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
.prodcat-mb{
  padding: 0 30px;
}
.slider_mb{
  .owl-nav{
    top: 17%;
  }
  .owl-nav .owl-prev{
    font-size: 40px;
    left: -25px;
    color: $color-hover;
    .fa{
      color: $color-hover;
    }
  }
  .owl-nav .owl-next{
    font-size: 40px;
    color: $color-hover;
    right: -25px;
    .fa{
      color: $color-hover;
    }
  }

  .item{
    text-align: center;
    a{
      display: block;
      position: relative;
      margin-bottom: 3px;
      &:before{
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
    span{
      font-size: 13px;
    }
  }
}

.title-fix{
  position: relative;
  .fa{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    color: $color-hover;
    cursor: pointer;
  }
}
.box-head-cart{
  padding: 15px;
  @media (max-width: 991px){
    border-top: 1px solid #ccc;
  }
}
.widget-cart{
  .spinner{
    width: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .btn{
      background: #fff;
    }
  }
}
@import "ladi1";
@import "ladi2";
